$cor-primaria: #ffffff;
$cor-secundaria: #000000;
$cor-terciaria: #7d7d7d;
$cor-quartenaria: #c8c8c8;
$cor-botoes: rgba(83, 81, 81, 0.8);

$fonte: 'Arial', Times, serif;
$fonte-tamanho: 16px;

$itemGrow: 1.2;
$duration: 250ms;